{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepass" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="old_password" placeholder="Old Password" required type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="new_password" placeholder="New Password" required type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="new_password_confirmation" placeholder="New Password again" required type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
